.background-animate {
  background-size: 400%;

  -webkit-animation: Slide 15s ease infinite;
  -moz-animation: Slide 15s ease infinite;
  animation: Slide 15s ease infinite;
}

@keyframes Slide {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
